# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for more information:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# https://containers.dev/guide/dependabot

version: 2
updates:
  # GitHub Actions updates
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    groups:
      all-actions:
        patterns:
          - "*"

  # NPM updates
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 20
    groups:
      prod-patch-minor:
        update-types: ["patch", "minor"]
        dependency-type: "production"
      dev-patch-minor:
        update-types: ["patch", "minor"]
        dependency-type: "development"
