@font-face {
    font-family: "geist";
    src: url("./Geist-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "geist";
    src: url("./Geist-SemiBold.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}